# Telegram credentials
TELEGRAM_API_ID=your_api_id_here
TELEGRAM_API_HASH=your_api_hash_here
TELEGRAM_PHONE=+48123456789

# PostgreSQL credentials
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db

# pgAdmin credentials
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

# n8n credentials
N8N_BASIC_AUTH_USER=your_n8n_username
N8N_BASIC_AUTH_PASSWORD=your_n8n_password 